h1{
    font: 50pt, "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html{
    height: 3000 px;
    background: rgb(2,0,36);
    background: linear-gradient(#d35959, #949be4);
}
/*
body{
    font: 50px, "Montserrat";
    text-align: center;
}
*/
div{
    width: 700px;
    font: "Arvo";
    font-size: 15pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

