h1{
    font: 50pt, "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    text-align: center;
}

html{
  /*  height: 100%; */
    background: rgb(2,0,36);
    background: linear-gradient(to bottom, #d35959, #949be4);
}
/*
body{
    font: 50px, "Montserrat";
    text-align: center;
}
*/
div{
    width: 1000px;
    word-break: break-all;
    white-space: normal;
    font: "Arvo";
    font-size: 10pt;
    text-align: center;
    left: 200px;
}

