h1 {
    font: 75pt, "Playfair Display";
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    height: 600px;
    background: rgb(2, 0, 36);
    background: linear-gradient(to left top, #d35959, #949be4) fixed;
}

div {
    width: 800px;
    font: "Arvo";
    font-size: 25pt;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#paragraph {
    text-align: justify;
    text-justify: inter-word;
}

button {
    margin: 0 auto;
    display: block;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

button:hover {
    background-color: #87CEEB;
}

button:active {
    background-color: #87CEEB;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

#wrapper {
    width: 100%;
    height: 80px;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}